@import 'page_bundles/mixins_and_variables_and_functions';

.dropdown-container {
  @include media-breakpoint-down(md) {
    width: 100%;

    .dropdown-projects {
      margin-top: $gl-padding-8;
      margin-bottom: $gl-padding-8;
    }
  }

  @include media-breakpoint-up(lg) {
    .project-select {
      margin-right: $gl-padding;
      flex: 1;
      width: inherit;
    }
  }
}

.filter-container {
  flex: 1 1 50%;
  width: 50%;

  @include media-breakpoint-down(md) {
    width: 100%;

    .issues-filters {
      margin: 0;
    }

    .filtered-search-box {
      margin-bottom: 10px;
    }

    .issues-details-filters {
      padding: 0;
      background: transparent;
    }
  }
}

.metric-dropdown {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.mr-table {
  @include media-breakpoint-down(md) {
    // stylelint-disable-next-line gitlab/no-gl-class
    .gl-responsive-table-row {
      border: 0;
      margin-top: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }

    .table-section {
      border: 0;
      min-height: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .metric-col {
      flex: 1;
    }

    .metric-label {
      white-space: pre-wrap;
    }

    .avatar {
      margin-right: 0;
    }
  }

  .metric-col {
    flex: 0 0 50%;
    max-width: 50%;

    .time {
      font-size: $gl-font-size-large;

      span {
        font-size: $gl-font-size;
      }
    }
  }

  .card-header {
    background-color: transparent;
    font-weight: $gl-font-weight-bold;
  }
}
