- page_title _("Audit events")
- feature_available = @project.feature_available?(:audit_events)

- if feature_available
  %h1.page-title.gl-text-size-h-display
    = _('Project audit events')
  %p.light
    = _('Track important events in your project.')

  - view_only = view_only_own_project_events?(@project)

  #js-project-audit-events-app{ data: { form_path: project_audit_events_path(@project),
  events: @events.to_json,
  is_last_page: @is_last_page.to_json,
  filter_token_options: project_audit_event_tokens(@project.full_path).to_json,
  filter_token_values: filter_view_only_own_events_token_values(view_only).to_json,
  filter_view_only: view_only.to_s } }
    = gl_loading_icon(size: 'lg', css_class: 'gl-my-7')

- elsif show_promotions?
  = render 'shared/promotions/promote_audit_events'
